<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
 * @package OSC ThankYouPage Hyva Compatibility by Amasty
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Zealousecommerce_QtymanagerHyvaCompatibility">
        <sequence>
            <module name="Zealousecommerce_Qtymanager"/>
            <module name="Hyva_CompatModuleFallback"/>
        </sequence>
    </module>
</config>
